# Données (trop volumineuses pour Git)
data/
EyeQ_repo/
*.jpeg
*.jpg
*.png
!checkpoints/confusion_matrix_test.png

# Checkpoints modèles (souvent volumineux, > 50 Mo)
checkpoints/*.pth
*.pth
*.pt

# Environnement Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Credentials (NE JAMAIS pousser ça sur GitHub)
kaggle.json
*.env

# OS
.DS_Store
Thumbs.db
